*{
    margin: 0;
    padding: 0;

}
body{
    justify-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("image_tcf.jfif");
}
form{
    border: 2px;
    border-radius: 5px;
    background-color: white;
    margin:40px;
    padding: 10px;
    flex-direction: column;
    gap: 20px;

}
.contenaire_principal{
    display: flex;
}
input{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
    padding-right: 70px;
}
input:placeholder-shown{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.connection_inscription{
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
}
.connect{
    padding: 3px;
    background-color: grey;
    text-decoration: none;
    text-align: center;
    padding:6px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border-radius: 1px;
}
.connect:active{
    background-color: blue;
    color: white;
}

.inscrire{
    padding: 3px;
    background-color: blue;
    text-decoration: none;
    text-align: center;
    padding: 6px;
    padding-left: 20px;
    padding-right: 26px;
    color: white;
    border-radius: 1px;
}


.contenaire_remplissage{
    margin-left: 10px;
}
input:last-child{
    margin-bottom: 0;
}
input:focus{
    background-color: rgb(218, 208, 208);
    color: black;
}

.image1{
    margin:0;
}
.submit{

    font-size: 14;
    padding: 10px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 20px;
    background-color: blue;
    text-align: center;
    color: white;
    cursor: pointer;
    transition:0.3s ease;

}
.submit:hover{
    padding-right: 90px;
    padding-left: 90px;
    text-align: center;
}

.redirection{
    text-decoration: none;
    color: white;
}
.input_wrapp{
    display: flex;
    margin: 30px;
    margin-left: 0;
}